h1 {
    text-align: center;
}

img {
    width: 37%;
    margin-right: 20%;
    margin-left: 28%;
    margin-top: 3%; 
}

.logo2 {
    width: 127px;
    margin-right: -14px;
    margin-left: 4px;
    margin-top: -35px;
}
